body{
  @apply font-roboto container mx-auto text-[#253345] !important;
}

main{
  margin-top: 10rem;
}


/* BG LINEAR GRADIENTS */
.hero,
.home-benefits{
  background: linear-gradient(144deg,rgba(255,255,255,1) 0%,rgba(215,231,254,1) 100%);

}

/************************
  *  Tailwind Components  *
  ************************/

/***********************
      HERO COMPONENT
***********************/
.hero{
  clip-path: polygon(0 0, 100% 1%, 100% 86%, 0% 100%);
  @apply w-full pb-64 md:pb-20 pt-10 z-[-1];
}

.hero-title{
  @apply text-[48px] font-bold mb-5 leading-[3.5rem]
}

.home-limitations__item{
  box-shadow: 10px 10px 50px #718fbc97;
}

.home-limitations svg{
  stroke-width: 1;
}

